<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file> 
	</welcome-file-list>
  <!-- ip限定访问 -->
  <filter>
  	<filter-name>ipAccessFilter</filter-name>
  	<filter-class>com.itcast.filter.IpAccessFilter</filter-class>
  	<init-param>
  		<param-name>ipaddress</param-name>
  		<param-value>127.0.0.1,192.168.1.8,0:0:0:0:0:0:0:1</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>ipAccessFilter</filter-name>
  	<url-pattern>/servlet/access</url-pattern>
  </filter-mapping>
  
 <!-- servlet Test01 -->
  <servlet>
  	<servlet-name>servletTest</servlet-name>
  	<servlet-class>com.itcast.filter.ServletTest</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>servletTest</servlet-name>
  	<url-pattern>/servlet/access</url-pattern>
  </servlet-mapping>
  
  	<!-- 显示投资人饼状图-->
	<servlet>
		<servlet-name>viewInvScale</servlet-name>
		<servlet-class>com.itcast.jfreechart.ViewInvScaleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>viewInvScale</servlet-name>
		<url-pattern>/servlet/viewInvScale</url-pattern>
	</servlet-mapping>
</web-app>