<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
						http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						http://www.springframework.org/schema/context
          				http://www.springframework.org/schema/context/spring-context-3.2.xsd">
      
      
    <!-- 1.对所有对controller进行扫描 -->
	<context:component-scan base-package="com.itcast.web.controller"/>
	
    <!-- springmvc 注解驱动 ,redirect的时候后面参数取消掉-->    			
    <mvc:annotation-driven  ignoreDefaultModelOnRedirect="true" />	
    
	<!-- 2.内部资源视图解析器 -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 规则：前缀+逻辑名+后缀   /WEB-INF/pages/index.jsp -->
		<property name="prefix" value="/WEB-INF/pages/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
    <!-- 3.文件上传视图解析器  ，规定：id名称必须multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 默认编码 -->  
        <property name="defaultEncoding" value="utf-8" />    
        <!-- 文件大小最大值 -->  
        <property name="maxUploadSize" value="10485760000" />    
        <!-- 内存中的最大值 -->  
        <property name="maxInMemorySize" value="40960" />   
    </bean>
	
    <!--避免IE执行AJAX时，返回JSON出现下载文件  
    <bean id="mappingJacksonHttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">  
        <property name="supportedMediaTypes">  
            <list>  
                <value>text/html;charset=UTF-8</value>  
            </list>  
        </property>  
    </bean>
     -->  
    <!-- 启动SpringMVC的注解功能，完成请求和注解POJO的映射
    <bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <ref bean="mappingJacksonHttpMessageConverter" />  JSON转换器 
            </list>  
        </property>  
    </bean>    --> 
	 
	<!-- 4.配置一个拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 拦截器主要测试一下这个path -->
			<mvc:mapping path="/person/list.action"/>
			<bean class="com.itcast.interceptor.SessionInterceptor" >
	          <property name="allowUrls">  
	            <list>  
	              <!-- 如果请求中包含以下路径，则不进行拦截 -->  
	              <value>/login.action</value>  
	            </list> 
	           </property> 
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
</beans>
